<h1>New Dose</h1>

<div class="w-25">
<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient, collection: Ingredient.all, wrapper_html: { class: "w-50"} %>
  <%= f.submit %>
<% end %>
</div>